APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_TIMEZONE=UTC

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=pgsql
DB_HOST=ec2-54-217-235-137.eu-west-1.compute.amazonaws.com
DB_PORT=5432
DB_DATABASE=daqtu270q357h0
DB_USERNAME=ydomlmvzgqwcjq
DB_PASSWORD=93f420b4f5b0e58c59cdc3e703830cd4ad406a380b3e936b09d988f9447f77d7

CACHE_DRIVER=file
QUEUE_DRIVER=sync
